<header id="header" class="header d-flex align-items-center position-relative">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
            <img src="~/img/logo.png" alt="AgriCulture">
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="About" asp-action="Index">About Us</a></li>
                <li><a asp-controller="Services" asp-action="Index">Our Services</a></li>
                <li><a asp-controller="Testimonials" asp-action="Index">Testimonials</a></li>
                <li><a asp-controller="Blog" asp-action="Index">Blog</a></li>
                <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>

                <!-- LOGIN DROPDOWN -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Login
                    </a>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Auth"
                               asp-action="Login">
                                Login
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Auth"
                               asp-action="Register">
                                Register
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>
